html {
    background-color: black;
    color: whitesmoke;
    /* font-style: italic; */
}

#all {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.title_wrapper {
    /* align-items: center; */
    vertical-align: middle;
    /* display: inline-block; */
    position: relative;
    height: 10%;
    font-style: italic;
}

#title {
    /* position: absolute; */
    border: 2px solid black;
    text-align: center;
    font-size: xxxx-large;
    color: yellow;
    text-shadow: 2px 2px cyan;
    font-weight: 900;
}

#container {
    width: 100%;
    display: flex;
    height: 83%;
    /* border: 2px solid green; */
}

#left_part {
    float: left;
    width: 15%;
    overflow-y: scroll;
    /* height: 100%; */
    border: 1px solid yellow;
}

#right_part {
    float: left;
    overflow-y: scroll;
    /* width: 73vw; */
    position: relative;
    flex: 1;
    /* height: 100%; */
    border: 1px solid yellow;
}

.teabase_selector_wrapper {
    text-align: center;
    margin: 10px;
    height: 15%;
    border-bottom: 1px solid cyan;
}

.cupstyle_selector_wrapper {
    text-align: center;
    margin: 10px;
    height: 15%;
    border-bottom: 1px solid cyan;
}

.class_selector {
    text-align: center;
    position: relative;
    border-bottom: 1px solid cyan;
}

.class_selector > img {
    width: 100%;
}

#button-start {
    height: 7%;
    text-align: center;
    background-color: yellow;
    border: 3px solid cyan;

    font-size: xxxx-large;
    color: black;
    font-weight: 700;
    text-shadow: 2px 2px cyan;
    font-style: italic;
}

input {
    left: 0;
    position: absolute;
}

.teabase_selector_wrapper,
.cupstyle_selector_wrapper,
.ingredients_selector_wrapper {
    text-align: center;
    margin: 10px;
    height: 15%;
    border-bottom: 1px solid cyan;
}

label {
    position: absolute;
    right: 10%;
}

.sample_pics {
    /* width: 100px; */
    position: absolute;
    /* right: 0px; */
    height: 14%;
    left: 15%;
}

.selected {
    /* background-color: rgba(255, 99, 71, 0.568); */
    border: 5px solid cyan;
}

label {
    font-size: xxx-large;
    /* color: yellow; */
    /* text-shadow: 2px 2px cyan; */
}
